<html>

<head>
    <title>GAN Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <div style="position: fixed; top: 25px; left: 25px; z-index: 900">
        <a href="/">
            <img alt="Qries" src="static/assets/arrow-small-left.png" width=50" height="50">
        </a>
    </div>

{% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}"width=500" height="400" >
        </div>
    {% endif %}

    <br>
    <p><h1 align="center">อัพโหลดรูปเพื่อตรวจสอบ GAN Detection</h1></p>
<div class="container">
<div class="row">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                {% if filename %}
                <div>
                    <img src="{{ url_for('display_image', filename=filename) }}">
                </div>
                {% endif %}
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                </p>

                <form method="post" action="/generate" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <input type="file" name="file" class="form-control" autocomplete="off" required>
                        </p>
                    </dl>
                    <p>
                        <input type="submit" value="Submit" class="btn btn-info">
                    </p>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Choose a Attribute:</h2>
                <button class="btn-img-icon" type="submit">
                    <img class="btn-img-icon" src="static\assets\img\icon\bald.png" alt="buttonpng" /> bald
                  </button>
                <button id="btn2">Bangs</button>
                <button id="btn3">Black Hair</button>
                <button id="btn4">Blond Hair</button>
                <button id="btn5">Brown Hair</button>
                <button id="btn6">Bushy Eyebrows</button>
                <button id="btn7">Eyeglasses</button>
                <button id="btn8">Male</button>
                <button id="btn9">Mouth Slighty Open</button>
                <button id="btn10">Mustache</button>
                <button id="btn11">No Beard</button>
                <button id="btn12">Pale Skin</button>
                <button id="btn13">Young</button>
                <button id="btn14">Home</button>
                <button id="btn15">Generate</button>
                <button id="btn16">Generate1</button>
    
    

    <script>
        const buttons = document.querySelectorAll("button");
        for (let i = 0; i < buttons.length; i++) {
            const buttonText = buttons[i].textContent;
            buttons[i].addEventListener("click", function () {
                if (buttonText == 'Generate') {
                    $.post("generate", {
                        title: title,
                    });
                    window.location.href = '/generate';
                }
                else if (buttonText == 'Generate1') {
                    window.location.href = '/generate';
                }
                else {
                    window.alert(`${buttonText}`)
                }
            });
        }
    </script>


    </div>

</body>

</html>