<html>
<head>
<title>GAN Detection</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <div style="position: fixed; top: 25px; left: 25px; z-index: 900">
        <a  href="/">
            <img alt="Qries" src="static/assets/arrow-small-left.png" width=50" height="50">
        </a>
    </div>
<p><h1 align="center">Fake/Real Image</h1></p>
<div class="container">
</div>
<button class="save-image-btn"><img src="static/assets/floppy-disk.png" width=50" height="50" alt="Save Image">Save</button>

</body>
</html>